p.A{
    background-color: gainsboro;
    margin:0 auto;
    margin-top: 50px;
    padding: 15px;
    width: 80%;
    text-align: center;
    font-weight: bold;
}


p.B{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 80%;
    border: 2px solid blue; 
    font-style: italic;
    text-align: center;
}
p.C{
    border-style: dotted;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 80%;
    text-align: center;
    text-decoration: line-through;
    
    
}
p.D{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 80%;
    border: 4px dashed gainsboro;
    text-align: center;
    text-decoration: overline;
}
p.E{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 80%;
    border: 4px double gray;
    text-align: center;
    text-decoration: underline;
}
p.F{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 80%;
    border-top: 2px solid purple;
    border-left: 2px solid blue;
    border-right: 2px solid orange;
    border-bottom: 2px solid brown;
    text-align: center;
}
p.G{
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    width: 80%;
    background-color: #F0F8FF;
    text-align: center;
    border-left: 4px dashed brown;
    border-right: 4px dotted purple;
    border-bottom: 4px double orange;
    
}