p.a{
    border: 3px solid gold;
    width: 10%;
    padding: 10px;
    text-align: center;
    margin-top: 200px;
}
p.b{
    border: 3px dotted yellow;
    width: 10%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
}
p.c{
    border: 3px dashed goldenrod;
    width: 10%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
}
p.d{
    border: 3px double goldenrod;
    width: 10%;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-left: 300px;
}